/* Variables */

$squirtle: #8bc5cd;
$bulba: #62d5b4;
$char: #de5239;
$pikachu: #f6bd20;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Kalam', cursive;
}

.container {
    max-width: 1140px;
    margin: auto;
    text-align: center;
}

section {
    padding: 25px 0;
}

.section-title {
    text-decoration: underline;
    font-size: 2.4rem;
    font-family: 'Press Start 2P', cursive;
}

/* Navigation */

.navigation {
    padding: 12px 0;
    background: #4ab0c2;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color: #33d9b2;
}

/* second layer */

.navigation ul ul li {
    display: block;
}


.navigation ul ul {
    background: white;
    position: absolute;
}

.navigation li ul a {
    color: red;
    padding: 0 24px;
}

.navigation li ul {
    display: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
    margin-left: 40px;
}

.navigation li:hover ul {
    display: block;
}

/* Splash */

.splash {
    min-height: 420px;
    display: flex;
    background: #4ab0c2;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
    color: white;
}

.page-title {
    margin: 0;
    font-size: 4rem;
    word-spacing: 24px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Press Start 2P', cursive;
}

.page-title span {
    color: #FFCB05;
    text-shadow: 3px 3px 2px rgba(61, 125, 202, 0.9), 6px 6px 4px rgba(0, 58, 112, 0.7)
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}

/* Wrapper pick your type  */

.wrapper-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.pokemon-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.service-tile {
    width: 30%;
}

.green a:hover {
    color: green;
    font-weight: 800;
}

.red a:hover {
    color: orange;
    font-weight: 800;
}

.blue a:hover {
    color: blue;
    font-weight: 800;
}

.behind-red {
    font-size: 92px;
    line-height: 1;
    opacity: 0.5;
    color: $char;
    position: absolute;
    font-weight: 800;
}

.behind-green {
    font-size: 92px;
    line-height: 1;
    opacity: 0.5;
    color: $bulba;
    position: absolute;
    font-weight: 800;
}

.behind-blue {
    font-size: 92px;
    line-height: 1;
    opacity: 0.5;
    color: $squirtle;
    position: absolute;
    font-weight: 800;
}

.service-tile p {
    margin: 0;
    padding: 0;
}

.service-tile p:first-of-type {
    font-weight: 800;
    display: inline-block;
}

/* wrapper pick your pokemon */

.pokemon-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pokemon-pick {
    flex: 0 0 50%;
    min-height: 300px;
    display: flex;
    margin: auto;
    margin-bottom: 44px;
}

.work-text {
    text-align: left;
    margin: 0 30px;
}

.work-text p:last-of-type {
    font-weight: 700;
    font-size: 1.2rem;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.img {
    min-width: 200px;
    max-width: 100%;
    position: relative;
    display: inline-block;
    max-height: auto;
    margin: 0 30px;
    width: 200px;
    height: 200px;
}

/* ---------- Pokemon hovers ---------- */

.img:after {
    background: #554e4e;
    opacity: 0.3;
    left: 30px;
    top: 30px;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    transition: 0.7s ease;
}

.char:hover:after {
    background: $char;
    left: 0;
    top: 0;
    transition: 0.7s ease;
    opacity: 0.4;
}

.pikachu:hover:after {
    background: $pikachu;
    left: 0;
    top: 0;
    transition: 0.7s ease;
    opacity: 0.4;
}

.bulba:hover:after {
    background: $bulba;
    left: 0;
    top: 0;
    transition: 0.7s ease;
    opacity: 0.4;
}

.squirtle:hover:after {
    background: $squirtle;
    left: 0;
    top: 0;
    transition: 0.7s ease;
    opacity: 0.4;
}

/* Contact us */

.contact-container h1 {
    color: #FFCB05;
    text-shadow: 3px 3px 2px rgba(61, 125, 202, 0.9), 6px 6px 4px rgba(0, 58, 112, 0.7)
}

.contact-container {
    min-height: 500px;
    display: flex;
    background: #4ab0c2;
}

.contact-wrapper {display: flex;}
.wrapper {color: white;}
.info {flex: 1;}

.form {
    flex: 2;
    margin-right: 96px;
}

input[type=text], input[type=email] {
    padding: 10px;
    width: 80%;
    background: #4ab0c2;
    border: none;
    color: white;
    font-size: 1.2rem;
}

textarea {
    height: 150px;
    padding: 10px;
    width: 80%;
    min-height: 60px;
    max-height: 420px;
    background: #4ab0c2;
    border: none;
    color: white;
    font-size: 1.2rem;
    resize: none;
}

textarea::placeholder {
    color: white;
    font-size: 1.2rem;
    font-family: 'Kalam', cursive;
}

input::placeholder {
    color: white;
    font-size: 1.2rem;
    font-family: 'Kalam', cursive;
}

textarea:focus, input:focus{
    outline: none;
}

hr.underline {
    border: 3px solid #fff;
    border-radius: 5px;
}

/* Footer */

.footer {
    width: 100%;
    text-align: center;
}

.fa-leaf {color: $bulba;}
.fa-fire {color: $char}/* Icons at the bottom */
.fa-tint {color: $squirtle}

.footer li {
    display: inline-block;
    margin: 0 8px;
}

.footer li:hover {
    transform: scale(1.3)
}

/* Buttons */

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 24px auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color: black;
}

.btn-one {background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);}
.btn-two {background-image: linear-gradient(90deg, $bulba 30%, transparent 70%);}
.btn-three {background-image: linear-gradient(90deg, $char 30%, transparent 70%);}
.btn-four {background-image: linear-gradient(90deg, $squirtle 30%, transparent 70%);}


.btn-five {
    border: none;
    font-size: 1.3rem;
    background-color: inherit;
    margin: 0;
    padding: 0;
    min-width: 100px;
}

.btn-five:hover {
    transform: scale(1.2)
}

.btn-six {
    background: none;
    color: white;
}

@media (max-width: 827px) {

    section {
        padding: 15px 0;
    }
    .service-tile {
        width: 100%;
        margin: auto 20%;
    }
    .contact-wrapper {
        flex-direction: column;
        margin: auto;
        padding-bottom: 30px;
    }
    .section-title {
        text-align: center;
        font-size: 1.6rem;
    }
    .wrapper {
        margin: auto;
    }
    .page-title {
        font-size: 2rem;
    }
    .splash-inner {
        text-align: center;
    }
    .pokemon-pick {
        flex-direction: column;
        flex-basis: 100%;
        order: 1;
    }
    .img {
        margin: auto;
        order: 2;
    }
    .btn-five {
        display: none;
    }
    .work-text {
        text-align: center;
    }
    .splash {
        min-height: 265px;
    }


}